*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

a:link{
	color: black;
}

a:visited{
	color: black;
}

body{
    background: #014886;
	margin-top: 20px;
}

.contenedor{
    display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	width: 90%;
	margin: 0 auto;
	font-size: 1.3rem;
}

.form{
    display: flex;
	flex-direction: column;
	align-items: center;
	gap: 70px;
	margin-top: 15px;
	border: 2px solid #caa444;
	width: 60%;
	border-radius: 20px;
	padding: 20px 0px;
	margin-bottom: 30px;
}

.input{
	border: 1px solid #caa444;
	height: 30px;
	width: 100%;
	text-align: center;
	border-radius: 20px;
	font-size: 1.2rem;
}

.logo{
	display: block;
	max-width: 300px;
	transition: .7s;
	border-radius: 50px;
}

.logo:hover{
    transform: scale(1.1);
}

.boton{
	width: 55%;
	background: #caa444;
	height: 50px;
	border-radius: 20px;
	border: 1px solid black;
	transition: .7s;
	box-shadow: 4px 4px 4px;
	font-size: 1.3rem;
}

.boton:hover{
	transform: scale(1.1)
}

@media (max-width: 768px){
	.form{
		width: 95%;
	}
}
