*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

a:link{
	color: black;
}

a:visited{
	color: black;
}

body{
    background: #014886;
	margin-top: 40px;
	margin-bottom: 40px;
}

h3{
	margin-top: 10px;
}

#protected-content {
    display: none;
    margin-top: 20px;
    }

.contenedor{
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	width: 85%;
	margin: 0 auto;
	font-size: 1.3rem;
	text-align: center;
}

.contenido{
	display: flex;
	align-items: center;
	flex-direction: column;
	border: 2px solid #caa444;
	gap: 30px;
	width: 100%;
	border-radius: 20px;
}

.historias{
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr 1fr;
	width: 98%;
	margin: 10px;
	min-width: 40%;
	padding: 5px;
}

.b-hidden{
	border: none;
}

.background{
	background: linear-gradient(45deg, #8a6225, #dfbd59);
	border: 1px solid black;
	border-radius: 15px;
}

.background:hover{
	background: linear-gradient(10deg, #8a6225, #dfbd59);
}

.label{
	display: block;
	margin: 20px auto;
	text-align: center;
}

.input{
	border: 1px solid #caa444;
	height: 30px;
	width: 80%;
	text-align: center;
	border-radius: 20px;
	font-size: 1.2rem;
	display: block;
	margin: 20px auto;
}

.logo{
	display: block;
	max-width: 220px;
	transition: .7s;
	border-radius: 50px;
	margin: 0 auto;
}

.logo:hover{
    transform: scale(1.1);
}

.boton{
	width: 40%;
	background: linear-gradient(45deg, #8a6225, #dfbd59);/*#caa444;*/
	height: 55px;
	border-radius: 20px;
	border: 1px solid black;
	transition: .7s;
	box-shadow: 4px 4px 4px;
	font-size: 1.3rem;
	display: block;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	margin: 20px auto;
}

.boton:hover{
	transform: scale(1.1);
	background: linear-gradient(10deg, #8a6225, #dfbd59);
}

@media (min-width: 1200px){
	.historias{
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 768px){
	.boton{
		width: 35%;
	}
	
	.historias{
		grid-template-columns: 1fr;
	}
	
	.contenedor{
		width: 90%;
	}
}

@media (max-width: 400px){
	.contenedor{
		font-size: 1.1rem;
		width: 100%;
	}
	
	.contenido{
		width: 98%;
	}
	
	.boton{
		font-size: 1.1rem;
	}
}